.bill-list {
    height: 100%;
    width: 100%;
    position: relative;
}

.title {
    line-height: 80px;
    font-size: x-large;
    text-align: center;
    background-color: #F9DA61;
}

.monthly {
    height: 80px;
    background-color: #F9DA61;
}

.monthly-field {
    font-size: 12px;
    color: #8D7B3B;
}

.monthly-value {
    font-size: 22px;
    line-height: 50px;
}


.ant-picker {
    background: #F9DA61;
}

.tab-bar {
  position: absolute;
  bottom: 0;
  height:50px;
  width: 100%;
  background-color: #fbfbfb;
}