.balance {
    line-height: 28px;
    font-size: x-large;
    text-align: center;
    background-color: #F9DA61;
}

.balance .key {
    font-size: 16px;
}
.income-expense {
    line-height: 42px;
    /* text-align: bottom; */
    background-color: #F9DA61;
}
.income-expense .key {
    font-size: 10px;
    margin-top: 1px;
}
.income-expense .value {
    font-size: 16px;
}