.home {
    height: 100%;
    width: 100%;
    background: url('../../public/photo-flower.jpeg');
    background-size: 100% 100%;
}

.home-opacity {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
}

.home-welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.home-logo {
    text-align: center;
    height: 100px;
    line-height: 80px;
    cursor: pointer;
    margin-bottom: 24px;
    font-size: xx-large;
}
